.DS_Store
node_modules

**/.claude/settings.local.json

# Environment files
.env
.env.*
.tmp/*
charts/peerbot/values-local.yaml

# Build output
packages/dispatcher/dist/
packages/worker/dist/
packages/core-runner/dist/
packages/shared/dist/*


peerbot.log
workspaces/*